.tsparticles-canvas-el{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) ,url(../assets/cloud-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}