*{ margin: 0; padding: 0; box-sizing: border-box; }
body{
    font-family: 'Poppins', sans-serif!important;
}
:root {
    --orangeColor: #FF5722;
}

@import url(./components/Particles.css);
@import url(./components/ServicesSection/servicesSection.css);
@import url(./components/Showcase/Showcase.css);
@import url(./components/OffersSection/OffersSection.css);
@import url(./components/Footer/footer.css);
@import url(./components/Navbar/navbar.css);